.gallery-card {
  transition: transform 500ms ease-in-out;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    image-rendering: auto;
  }

  &__description {
    display: flex;
    color: $location-color;
    justify-content: space-between;
    font-size: 1.3rem;
    margin-top: 0.4em;
  }

  &__title {
    max-width: 80%;
  }

  &__like {
    white-space: nowrap;
    display: flex;
    gap: 10px;
  }

  figure {
    margin: 0;
    height: 100%;
    width: 100%;
  }

  &:hover {
    transform: scale(110%);
  }
}

.open-lightbox {
  height: 80%;
  display: block;
}